<mat-toolbar color="primary" class="header-nav">
    <mat-toolbar-row>
        <a [routerLink]="['/board']" routerLinkActive="router-link-active">
            <div class="logo">
                <img src="assets/img/frenchtoast.png" height="60px">
            </div>
        </a>
        <a [routerLink]="['/board']" routerLinkActive="router-link-active">
            <div class="site-title">
                <span>frenchtoast.io</span>
            </div>
        </a>
    </mat-toolbar-row>
</mat-toolbar>