<mat-toolbar color="primary" class="header-nav">
    <!-- The "return false" below is a JQuery-free hack to make it 
        so that form submit does not refresh the page. 
        ref: https://stackoverflow.com/a/22772518 -->
    <form class="form" onsubmit="return false" class="add-category">
        <mat-form-field>
            <input #categoryName matInput placeholder="Add Category">
        </mat-form-field>
        <button mat-raised-button (click)="onSubmit(categoryName.value);categoryName.value=''">Submit</button>
    </form>
</mat-toolbar>
<router-outlet></router-outlet>