.task-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 40px;
}

.task {
    flex: 1;
    width: 100%;
    margin-bottom: 20px;
}


.mat-card-title {
    font-size: 19px;
}

.add-task {
    margin: 0 5px 5px 0;
    display: flex;
    justify-content: flex-end;
}

.category {
    top: -20px;
}

.category-name {
    display: flex;
    justify-content: space-between;
}

.edit-category-title {
    /* display:flex;*/
}