<!-- TODO: 
    - replace placeholders with actual images of us
    - replace content with some info about us -->

<div class="about-us">
    <mat-dialog-content>
        <h1 mat-dialog-title>A little bit about us...</h1>
        <mat-card>
            <mat-card-header>
                <img mat-card-avatar src="https://placeimg.com/640/480/people">
                <mat-card-title>Jesse Mazzella</mat-card-title>
                <mat-card-subtitle>Software Engineer</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mollis dapibus consectetur.
                Vestibulum facilisis sapien sit amet dui placerat, sit amet blandit felis laoreet. Nam laoreet congue
                quam.
            </mat-card-content>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card>
            <mat-card-header>
                <img mat-card-avatar src="https://placeimg.com/300/300/animals">
                <mat-card-title>Eric Edelman</mat-card-title>
                <mat-card-subtitle>Software Engineer</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mollis dapibus consectetur.
                Vestibulum facilisis sapien sit amet dui placerat, sit amet blandit felis laoreet. Nam laoreet congue
                quam.
            </mat-card-content>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card>
            <mat-card-header>
                <img mat-card-avatar src="https://placeimg.com/300/300/architecture">
                <mat-card-title>Canyon Schwartz</mat-card-title>
                <mat-card-subtitle>Software Engineer</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mollis dapibus consectetur.
                Vestibulum facilisis sapien sit amet dui placerat, sit amet blandit felis laoreet. Nam laoreet congue
                quam.
            </mat-card-content>
        </mat-card>
    </mat-dialog-content>
</div>