<!-- TODO: 
    - replace placeholders with actual images of us
    - replace content with some info about us -->

<div class="about-us">
    <mat-dialog-content>
        <h1 mat-dialog-title>A little bit about us...</h1>
        <mat-card>
            <mat-card-header>
                <img mat-card-avatar src="assets/img/jesse.png">
                <mat-card-title>Jesse Mazzella</mat-card-title>
                <mat-card-subtitle>Software Engineer</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                CSUF Computer Science student graduating Spring 2020. 
                I'm skilled in C++, Javascript and TypeScript, and I've been trying my hand at Rust. My drive is to create well-architected software that make people's lives at least a little bit easier.
            </mat-card-content>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card>
            <mat-card-header>
                <img mat-card-avatar src="assets/img/eric.jpg">
                <mat-card-title>Eric Edelman</mat-card-title>
                <mat-card-subtitle>Software Engineer</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>Senior in the Department of Computer Science and Engineering at California State
                University, Fullerton. Fluent in C++, Python, and knows his way around Qt and VBox. One ginger to rule
                them all.
            </mat-card-content>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card>
            <mat-card-header>
                <img mat-card-avatar src="assets/img/canyon.png">
                <mat-card-title>Canyon Schwartz</mat-card-title>
                <mat-card-subtitle>Software Engineer</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>Computer Science Senior Student at California State University, California with a 3.5 GPA.
                Skilled in C++, Linux, Python, Problem Solving, and Programming. I am currently an I.T. Consultant who
                provides technical support for all Staff and Faculty at California State University, California.
                Interested in starting and maintaining a Software Engineering career.
            </mat-card-content>
        </mat-card>
    </mat-dialog-content>
</div>