<h1 mat-dialog-title>Edit Task</h1>
<mat-dialog-content>
    <div>
        <mat-form-field>
            <input id="title-edit" matInput placeholder="Title" [(ngModel)]="this.task.title">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input id="assigned-to-edit" matInput placeholder="Assigned To" [(ngModel)]="this.task.assignedTo">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input id="description-edit" matInput placeholder="Description" [(ngModel)]="this.task.description">
        </mat-form-field>
    </div>
</mat-dialog-content>
<div>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button (click)="updateTask()" [mat-dialog-close]="true">Save</button>
    </mat-dialog-actions>
</div>