.category {
    width: 285px;
    height: auto;
    background-color: lightgrey;
    margin: 1em;
    flex: 0 0 auto;
}

.board {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: auto; 
    justify-content: flex-start;
}

.board-title {
    margin-right: 3em;
}

.btn {
    height: 41px;
}
