<mat-toolbar>
    <span class="board-title">{{this.title}}</span>
    <!-- The "return false" below is a JQuery-free hack to make it 
        so that form submit does not refresh the page. 
        ref: https://stackoverflow.com/a/22772518 -->
    <form class="form" onsubmit="return false">
        <mat-form-field>
            <input #categoryName matInput placeholder="Add Category">
        </mat-form-field>
        <button mat-raised-button (click)="onSubmit(categoryName.value);categoryName.value=''">Submit</button>
    </form>
</mat-toolbar>

<div class="board" *ngFor="let status of statuses">
    <mat-card class="category">
        <app-task-status-detail [status]="status"></app-task-status-detail>
    </mat-card>
</div>