.category {
    width: 285px;
    height: auto;
    background-size: contain;
    background-color: #757575;
    margin: 1em;
    flex: 0 0 auto;
}

#delete-category {
    left: 265px;
    bottom: 20px;
}

#category-lists {
    display: flex;
    flex-flow: row;
}

.board {
    display: flex;
    flex-flow: row nowrap;
    overflow-x: auto; 
    justify-content: flex-start;
    padding-bottom: 60px;
}
