<mat-card tabindex="0" class="task">
        <div class="task-clickable" (click)="openEditDialog()">
            <mat-card-title-group>
            <mat-card-title matLine>{{ task.title }}</mat-card-title>
            <mat-card-subtitle matLine>Assigned to: {{ task.assignedTo }}</mat-card-subtitle>
        </mat-card-title-group>
        </div>
    <button class="delete-task" mat-icon-button aria-label="Delete a task" (click)="deleteTask()">
        <mat-icon>delete</mat-icon>
    </button>
    <div class="task-clickable" (click)="openEditDialog()">
        <mat-card-content>
            <p><span>{{ task.description }}</span></p>
        </mat-card-content>
    </div>
</mat-card>