<mat-card tabindex="0" class="task">
    <mat-card-title-group>
        <div class="task-clickable" (click)="openEditDialog()">
            <mat-card-title matLine>{{ task.title }}</mat-card-title>
            <mat-card-subtitle matLine>Assigned to: {{ task.assignedTo }}</mat-card-subtitle>
        </div>
        <button id="delete-task" mat-icon-button aria-label="Delete a task" (click)="deleteTask()">
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-title-group>
</mat-card>