<mat-card tabindex="0" class="task" (dblclick)="openEditDialog()">
    <mat-card-title-group>
        <mat-card-title matLine>{{ task.title }}</mat-card-title>
        <button id="delete-task" mat-icon-button aria-label="Delete a task" (click)="deleteTask()">
                <mat-icon>delete</mat-icon>
            </button>
        <mat-card-subtitle matLine>Assigned to: {{ task.assignedTo }}</mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content matLine>
        <p><span>{{ task.description }}</span></p>
    </mat-card-content>
</mat-card>